.bg_color {
    background-color:slategray;
    color:honeydew;
}

.bold{
    font-size: large;
    font-family: fantasy;
    color: green;
    font-weight: bold;
}

.bg_color_again{
    background-color: burlywood;
}

.star_wars_size{
    height: 100px;
}

.containColor{
    background-color: orange;
}