<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="bg_color">

<div [ngClass]="['container', 'containColor']">

  <h1 [style.backgroundColor]="color_yellow">Hello, {{ title }}</h1>

  <h2 class="bg_color">my name is {{ my_name }} and age is {{ my_age}}</h2>

  <h2>{{persons[1].id + persons[2].name}}</h2>

  <p>Congratulations! Your app is running. 🎉</p>

  <div>
    <p [ngClass]="['bg_color_again', 'bold']">testibng ng class</p>
  </div>

  <div>
    <h2 [ngClass]="['bg_color_again', 'bold']">testibng ng class</h2>
    <h3 [ngClass]=" errors ? 'error' : 'bg_color' ">Conditional Classes</h3>
  </div>

  <div>
    <input type="text" class="form-control" [ngModel]="my_name">
    <input type="text" class="form-control" [(ngModel)]="my_name">
  </div>

  <ul class="list-group">@for (person of persons; track person.id){
    <li class="list-group-item">{{person.id + person.name}}</li>

    <ul>@if (person.age > 18) {
      <p>person is adult</p>
      } @else {
      <p>person is too young</p>
      }
    </ul>

    }
  </ul>

  <button (click)="disabled(!isDisabled)">making larger</button>

  @if (isDisabled == true){
  <img class="star_wars_size" [src]="img1">
  }@else {
  <img class="star_wars_size" [src]="img2">
  }





  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <app-home></app-home>
</div>
</div>
<router-outlet />